@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin : 0;
    padding : 0 ;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #00337C ;
    --secondary-text-color: #577592 ;
    --padding-inline-section: 20px;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3 ;
}

body { 
    font-family: 'Poppins','sans-serif';
    color:var(--primary-text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

p {
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-2 {
    display: flex;
    align-items: center;
    
}

.flex-3{
    display: flex;
    align-items: center;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-links-2 {
    flex-direction: row;
    margin-top: 30px;
}

.hover-link {
    color: var(--primary-text-color);
}

.hover-link:hover {
    color: var(--primary-text-color);
}



header {
    padding: 50px var(--padding-inline-section);
}

.header-section {
    justify-content:left;
    gap: 50px;
}

.header-section-2 {
    gap: 10px;
}

.header-section-3 {
    margin-top: 25px;
}

.header-section-4 {
    margin-top: 4px;
}

.header-left h1 {
    font-size: 55px;
    font-weight: 900;
}

.header-left h6 {
    margin-top: 15px;
}

.profit {
    color: rgb(20, 155, 20) ;
} 

.profit-2{
    color: #03C988;
}

.header-left {
    /* width: 50vw; */
    margin-top: 30px;
}

.header-middle {
    justify-content: center;
    margin-top: 50px;
}

.header-middle-2 {
    /* justify-content: center; */
    width: 20vw;
    margin-top: 50px;
}

.header-middle-3{
    width :20vw;
}

.middle-header {
    justify-content: center;
}

.header-right img{
    margin-top: 50px;
    width : 600px;
}

.header-left-2 {
    width:600px;
}

.header-right-2 {
    margin-top: 50px;
    width: 600px;
}

.section-2 {
    gap:200px;
}

.section-3{
    gap: 20px;
}


.button-1 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-1:hover,
.button-1:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  /* border-bottom: #00337C; */
}

.button-1:hover {
  transform: translateY(-1px);
  /* border-bottom: #00337C; */
}

.button-1:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
} 

.primary-button {
    background-color: var(--accent-color);
    border-width: 0;
    border-radius: 6px;
    font-weight: 700;
    color: white !important;  
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--primary-text-color);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;  
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.other-button {
  border-width: 0;
  color: #333333;
  background: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 600; */
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 10px 12px;
  text-align:center ;
}

.other-button:hover {
    color : var(--accent-color)
}

.stock-bar-button {
    align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 45px;
}

.return-bar-button {
    
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #282a2c;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.return-bar-button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.return-bar-button:focus {
  border-color: #4285f4;
  outline: none;
}


#line-bar-1 {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 0;
    width: 75%;
}

#line-bar-2 {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 0;
    width: 75%;

}

.line-bar-3 {
    border-top: 1px dashed rgb(217, 217, 217);
    border-bottom: 0;
    width:85%;
}

.slider{
    width: 85%;
}

